.form-card-container
  = link_to semester_path(@semester), class:'unstyle-link font-secondary mb-1' do
    %i.fa-solid.fa-arrow-left
    %span="Back to #{@semester.name}"
  .gt-empty-card
    .heading
      %h1 Editing Semester

    .body
      = render 'form'

  .gt-card
    %h2= "Delete " + @semester.name 
    = button_to 'Delete', semester_path(@semester), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'link-button delete w-100'