%h1 All Semesters

.gt-form.section-margin
  = form_with url: semesters_path, method: :get, local: true do
    = label_tag :search, "Search Semesters:"
    = text_field_tag :search, params[:search]
    = submit_tag "Search"

.link-cards-list
  - @semesters.each do |semester|
    = render partial: 'shared/semester_card', locals: { semester: semester }

  = link_to '+ New Semester', new_semester_path(), class: 'card-button section-margin'