%h1 Listing semesters

- @semesters.each do |semester|
  .gt-card
    .card-heading
      %h2= semester.name
      = link_to 'Edit', edit_semester_path(semester)
    %td= link_to 'Show', semester
    %td= link_to 'Edit', edit_semester_path(semester)
    %td= button_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Semester', new_semester_path