.form-card-container
  = turbo_frame_tag "semesters" do
    .flex-row.mobile-col.align-items-start
      .gt-empty-card
        .heading
          %h2 New Semester

          - if @semester.year.present?
            = link_to year_path(@semester.year), class: 'icon-button light' do
              %i.fa-solid.fa-arrow-left
              %span Back

        .body
          = render 'form'

      .gt-card
        .card-heading
          %h2 Import Semester

        %span.font-secondary 
          You can copy the template of another users semester.

        .gt-form
          = form_with url: import_redirect_semester_path(), method: :post, local: true, data: { turbo_frame: "_top" } do |f|
            .field
              = f.label :share_token, "Enter Code"
              = f.text_field :share_token
            
            .actions
              = f.submit 'Import'