.container
  = link_to 'Back to Home', root_path, class: 'link-button'
  %h1.section-heading= @semester.name
  %button#copy-share-link.link-button{ type: 'button', 'data-clipboard-text' => share_semester_url(@semester.share_token) } Copy Share Link
  %span#copy-success{ style: 'display:none; margin-left: 10px; color: green;' } Copied!
  :javascript
    //= require clipboard if using asset pipeline, or import in JS if using importmap
    document.addEventListener('DOMContentLoaded', function() {
      if (window.ClipboardJS) {
        var clipboard = new ClipboardJS('#copy-share-link');
        clipboard.on('success', function(e) {
          var success = document.getElementById('copy-success');
          success.style.display = 'inline';
          setTimeout(function() { success.style.display = 'none'; }, 1500);
          e.clearSelection();
        });
      }
    });
  
  -# Stats
  .row
    .col.text-center
      %b Credits
    .col.text-center
      %b Weighted Average
    .col.text-center
      %b Achieved Score 
  .row
    .col.text-center
      %span.stat= @semester.credits
    .col.text-center
      %span.stat= number_with_precision(@semester.weighted_average(current_user), precision: 2) + '%'
    .col.text-center
      %span.stat= number_with_precision(@semester.achieved_score(current_user), precision: 2) + '%'

  -# Graph
  .gt-card{ style: "display: flex; flex-direction: column; height: 100%;" }
    %h2 Your Time Spent
    .chart-container
      = line_chart @module_data, curve: false, legend: false, width: "100%" #, height:"100%"

  -# Modules
  = link_to 'Add Module', new_uni_module_path(semester_id: @semester.id), class: 'link-button'
   
  %h1.section-heading Assessments
  .row
    .col 
      .gt-card
        %h2 Upcoming Assessments
        - if @next_exam
          = link_to @next_exam.name, uni_module_exam_path(@next_exam.uni_module, @next_exam)
          %span.d-block
            %b Due:
            = @next_exam.due.strftime("%d %b %Y, %H:%M")
        - else 
          %span No upcoming assessments.
    .col
      .gt-card
        %h2 Assessment Type
        .chart-container
          = pie_chart @exam_type_data, legend: false, width: "100%" #, height:"100%"
