.container
  = link_to "Back to #{@semester.year.name}", year_path(@semester.year), class: 'link-button'
  .section-heading
    %h1= @semester.name
    .button-row
      .icon-button
        = link_to edit_semester_path(@semester) do
          %i.fa-solid.fa-pen-to-square

      %button#copy-share-link.icon-button{ type: 'button', 'data-clipboard-text' => share_semester_url(@semester.share_token) }
        %i.fa-solid.fa-share
      %span#copy-success{ style: 'display:none;' } Copied!
  
  -# Stats
  .row
    .col.text-center
      %b Credits
    .col.text-center
      %b Weighted Average
    .col.text-center
      %b Achieved Score 
  .row
    .col.text-center
      %span.stat= @semester.credits
    .col.text-center
      %span.stat= number_with_precision(@semester.weighted_average(current_user), precision: 2) + '%'
    .col.text-center
      %span.stat= number_with_precision(@semester.achieved_score(current_user), precision: 2) + '%'

  -# Graph
  .gt-card{ style: "display: flex; flex-direction: column; height: 100%;" }
    %h2 Your Time Spent
    .chart-container
      = line_chart @module_data, curve: false, legend: false, width: "100%" #, height:"100%"

  .gt-card.module-list
    .card-heading
      %h2 Modules
      .icon-button
        = link_to new_uni_module_path(semester_id: @semester.id) do
          %i.fa-solid.fa-plus
    - if @uni_modules.any?
      - @uni_modules.each do |m|
        = link_to m do
          .row
            .col-3= m.code
            .col.text-truncate= m.name
            .col-2.text-end= "#{number_with_precision(m.achieved_score(current_user), precision: 0)}%"
          .row.progress-bar.px-12px
            .progress{style: "width: #{m.completion_percentage(current_user)}%"}
    - else
      %span No modules in this semester.
   
  %h1.section-heading Assessments
  .row
    .col 
      .gt-card
        %h2 Upcoming Assessments
        - if @next_exam
          = link_to @next_exam.name, uni_module_exam_path(@next_exam.uni_module, @next_exam)
          %span.d-block
            %b Due:
            = @next_exam.due.strftime("%d %b %Y, %H:%M")
        - else 
          %span No upcoming assessments.
    .col
      .gt-card
        %h2 Assessment Type
        .chart-container
          = pie_chart @exam_type_data, legend: false, width: "100%" #, height:"100%"
