.container
  = link_to 'Back to Home', root_path, class: 'link-button'
  %h1.section-heading= @semester.name
  = link_to 'Share Semester Setup', share_semester_url(@semester.share_token), class: 'link-button'

  -# Stats
  .row
    .col.text-center
      %b Credits
    .col.text-center
      %b Weighted Average
    .col.text-center
      %b Achieved Score 
  .row
    .col.text-center
      %span.stat= @semester.credits
    .col.text-center
      %span.stat= number_with_precision(@semester.weighted_average(current_user), precision: 2) + '%'
    .col.text-center
      %span.stat= number_with_precision(@semester.achieved_score(current_user), precision: 2) + '%'

  -# Graph
  .gt-card{ style: "display: flex; flex-direction: column; height: 100%;" }
    %h2 Your Time Spent
    .chart-container
      = line_chart @module_data, curve: false, legend: false, width: "100%" #, height:"100%"

  -# Modules
  = link_to 'Add Module', new_uni_module_path(semester_id: @semester.id), class: 'link-button'
   
  %h1.section-heading Assessments
  .row
    .col 
      .gt-card
        %h2 Upcoming Assessments
        - if @next_exam
          = link_to @next_exam.name, uni_module_exam_path(@next_exam.uni_module, @next_exam)
          %span.d-block
            %b Due:
            = @next_exam.due.strftime("%d %b %Y, %H:%M")
        - else 
          %span No upcoming assessments.
    .col
      .gt-card
        %h2 Assessment Type
        .chart-container
          = pie_chart @exam_type_data, legend: false, width: "100%" #, height:"100%"
