.page-heading
  .left-button
    .icon-button
      = link_to year_path(@semester.year) do
        %i.fa-solid.fa-arrow-left
  %h1= "#{@semester.year.name}/#{@semester.name}"
  .right-button.button-row
    .icon-button
      = link_to edit_semester_path(@semester) do
        %i.fa-solid.fa-pen-to-square
    .icon-button 
      = link_to share_semester_url(@semester.share_token), { title: 'Share Template' } do
        %i.fa-solid.fa-share

-# Stats
.stats-container 
  .stat 
    .stat-header Credits
    .stat-content= number_with_precision(@semester.credits, precision: 0)
  .stat 
    .stat-header Average Score
    .stat-content= number_with_precision(@semester.average_score(current_user), precision: 2) + '%'
  .stat 
    .stat-header Achieved Score
    .stat-content= number_with_precision(@semester.achieved_score(current_user), precision: 2) + '%'

- @uni_modules.each do |uni_module|
  = render partial: 'shared/module_card', locals: { uni_module: uni_module }

= link_to '+ New Module', new_uni_module_path(semester_id: @semester.id), class: 'card-button section-margin'

-# Graph
.gt-card
  .card-heading
    %h2 Your Time Spent
    = form_with url: request.path, method: :get, local: true, html: { class: "cumulative-toggle-form" } do |f|
      - if params[:cumulative] != "false"
        = f.hidden_field :cumulative, value: false
        .background
          = f.submit "", class: "toggle-true"
      - else 
        = f.hidden_field :cumulative, value: true
        .background
          = f.submit "", class: "toggle-false"
      Cumulative
  .chart-container
    = line_chart @module_data, curve: false, legend: false, width: "100%" #, height:"100%"