.page-heading
  %nav
    %ol.breadcrumb
      %li.breadcrumb-item= link_to @semester.year.name, @semester.year
      %li.breadcrumb-item.active= @semester.name
  .button-row
    .icon-button 
      = link_to share_semester_url(@semester.share_token), { title: 'Share Template' } do
        %i.fa-solid.fa-share
    .icon-button
      = link_to edit_semester_path(@semester) do
        %i.fa-solid.fa-pen-to-square

-# Stats
.stats-container 
  .stat 
    .stat-header Credits
    .stat-content= number_with_precision(@semester.credits, precision: 0)
  .stat 
    .stat-header Average Score
    .stat-content= number_with_precision(@semester.average_score(current_user), precision: 2) + '%'
  .stat 
    .stat-header Achieved Score
    .stat-content= number_with_precision(@semester.achieved_score(current_user), precision: 2) + '%'

.gt-empty-card
  .heading
    %h3 Modules
  .body
    .link-cards-list
      - @uni_modules.each do |uni_module|
        = render partial: 'shared/module_card', locals: { uni_module: uni_module }

      = link_to '+ New Module', new_uni_module_path(semester_id: @semester.id), class: 'card-button'

-# Graph
= turbo_frame_tag "semester_time_chart" do
  = render partial: 'shared/time_chart', locals: { subject: @semester, time_path: -> { time_semester_path(id: @semester.id, cumulative: params[:cumulative], date_since: params[:date_since]) }, date_since: params[:date_since], form_url: semester_path(@semester), turbo_frame_id: "semester_time_chart" }