%p#notice= notice

%p
  %b Uni module:
  = @timelog.uni_module
%p
  %b Minutes:
  = @timelog.minutes
%p
  %b Description:
  = @timelog.description

= link_to 'Edit', edit_uni_module_timelog_path(@uni_module, @timelog)
|
= link_to 'Back', uni_module_path(@uni_module)