- if @uni_module.exams.present?
  %table
    %thead
      %tr
        %th Weight
        %th Name
        %th Score
        %th
        %th
        %th

    %tbody
      - @uni_module.exams.each do |exam|
        %tr.exam-row
          %td= exam.weight.to_s + '%'
          %td= exam.name
          %td= exam.score
          %td= link_to 'Edit', edit_uni_module_exam_path(@uni_module, exam)

= link_to 'New exam', new_uni_module_exam_path(@uni_module)
