.card-heading#assessments
  %h2 Assessments
  .icon-button
    = link_to new_uni_module_exam_path(@uni_module), { title: 'Add Assessment' } do
      %i.fa-solid.fa-plus
- if @uni_module.exams.present?
  %table.gt-table.mt-0
    %thead
      %tr
        %th 
          .th-content
            %span="Weight"
            - unless @uni_module.correct_weight_sum?
              .icon-button.text-danger
                %i.fa-solid.fa-triangle-exclamation{ title: 'Total weight must be 100%' }
        %th Name
        %th Score
        %th Target
        %th

    %tbody
      - @uni_module.exams.each do |exam|
        %tr.exam-row
          %td= exam.weight.to_s + '%'
          %td= exam.name
          %td= "#{number_with_precision(exam.score(current_user), precision: 2)}%" if exam.score(current_user)
          %td.text-secondary= "#{number_with_precision(exam.target(current_user), precision: 2)}%" if exam.target(current_user)
          %td.text-end
            .icon-button
              = link_to edit_uni_module_exam_path(@uni_module, exam) do
                %i.fa-solid.fa-pen-to-square