.card-heading
  %h2 Assessments
  = link_to 'Add', new_uni_module_exam_path(@uni_module)
- if @uni_module.exams.present?
  %table.gt-table.mt-0
    %thead
      %tr
        %th Weight
        %th Name
        %th Score
        %th Target
        %th

    %tbody
      - @uni_module.exams.each do |exam|
        %tr.exam-row
          %td= exam.weight.to_s + '%'
          %td= exam.name
          %td= "#{number_with_precision(exam.score, precision: 2)}%" if exam.score
          %td.text-secondary= "#{number_with_precision(exam.target, precision: 2)}%" if exam.target
          %td.text-end.p-0= link_to 'Edit', edit_uni_module_exam_path(@uni_module, exam), class: 'link-button'
