.gt-form  
  = form_for @uni_module do |f|
    - if @uni_module.errors.any?
      #error_explanation
        %h2= "#{pluralize(@uni_module.errors.count, "error")} prohibited this uni_module from being saved:"
        %ul
          - @uni_module.errors.full_messages.each do |message|
            %li= message

    .field
      = f.label :code
      = f.text_field :code
    .field
      = f.label :name
      = f.text_field :name
    .field 
      = f.label :credits
      = f.number_field :credits
    .field 
      = f.label :target
      = f.number_field :target
    .field
      = f.label :semester_id, "Semester"
      = f.collection_select :semester_id, Semester.all, :id, :name, prompt: "Select a Semester"

    .actions
      = f.submit 'Save'
