.gt-empty-card
  .heading
    %h2 Timelog
    = link_to new_uni_module_timelog_path(@uni_module), class: 'icon-button light', title: 'Log time' do
      %i.fa-solid.fa-plus
      %span Log Time

  .body
    %table.gt-table.mt-0
      %thead
        %tr
          %th.px-2 Date
          %th.px-2 Minutes
          %th.px-2 Description
          %th

      %tbody
        - @timelogs.each do |timelog|
          %tr.timelog-row
            %td= timelog.created_at.strftime('%Y-%m-%d')
            %td= timelog.minutes
            %td= timelog.description
            %td
              = link_to edit_uni_module_timelog_path(@uni_module, timelog), class: 'icon-button' do
                %i.fa-solid.fa-pen-to-square
                %span Edit
    = paginate @timelogs