.form-card-container
  .gt-card
    .card-heading
      %h1 Editing Module
      = link_to 'Show', @uni_module

    = render 'form'

  .gt-card.gt-form
    = render 'target_form'

  .gt-card
    %h2= "Delete " + @uni_module.name 
    = button_to 'Delete', uni_module_path(@uni_module), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'link-button delete w-100'
