.form-card-container
  = link_to uni_module_path(@uni_module), class:'unstyle-link font-secondary mb-1' do
    %i.fa-solid.fa-arrow-left
    %span="Back to #{@uni_module.code}"

  .gt-card
    .card-heading
      %h1 Editing Module

    = render 'form'

  .gt-card.gt-form
    = render 'target_form'

  .gt-card
    %h2= "Delete " + @uni_module.name 
    = button_to 'Delete', uni_module_path(@uni_module), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'link-button delete w-100'
