%h1 All Modules

.gt-form
  = form_with url: uni_modules_path, method: :get, local: true do
    = label_tag :search, "Search Modules:"
    = text_field_tag :search, params[:search]
    = submit_tag "Search"

%table
  %thead
    %tr
      %th Code
      %th Name
      %th Credits
      %th Achieved Score
      %th

  %tbody
    - @uni_modules.each do |uni_module|
      %tr
        %td= uni_module.code
        %td= uni_module.name
        %td= uni_module.credits
        %td= number_with_precision(uni_module.achieved_score(current_user), precision: 2) + '%'
        %td.icon-button
          = link_to uni_module do
            %i.fa-solid.fa-arrow-right

%br

= link_to 'New Uni module', new_uni_module_path, class: 'link-button'
