.gt-empty-card 
  .heading
    %h1 All Modules
    .gt-form
      = form_with url: uni_modules_path, method: :get, local: true do
        .form-row
          = text_field_tag :search, params[:search]
          = submit_tag "Search"

  .body
    .link-cards-list
      - @uni_modules.each do |uni_module|
        = link_to uni_module do
          .space-between 
            .name= uni_module.name
            .score= number_with_precision(uni_module.achieved_score(current_user), precision: 2) + '%'
          .space-between 
            .font-secondary= uni_module.code
            .font-secondary= uni_module.credits.to_s + ' Credits'

    = link_to '+ New Module', new_uni_module_path, class: 'card-button w-100 mt-2'