.page-heading
  .left-button
    .icon-button
      = link_to semester_path(@semester) do
        %i.fa-solid.fa-arrow-left
  %h1.module-heading
    .code= @uni_module.code 
    .hide-on-mobile= " - " 
    .name= @uni_module.name
  .right-button.button-row
    .icon-button
      = link_to edit_uni_module_path(@uni_module) do
        %i.fa-solid.fa-pen-to-square

-# Stats
.stats-container 
  .stat 
    .stat-header Credits
    .stat-content= number_with_precision(@uni_module.credits, precision: 0)
  .stat 
    .stat-header Weighted Average
    .stat-content= number_with_precision(@uni_module.weighted_average(current_user), precision: 2) + '%'
  .stat 
    .stat-header Achieved Score
    .stat-content= number_with_precision(@uni_module.achieved_score(current_user), precision: 2) + '%'

.exams-container
  .exams 
    .gt-empty-card
      = render 'exams'
  .graph-split
    .gt-empty-card
      .heading
        %h2 Assessment Split
      .body
        .chart-container
          = pie_chart @exam_data, legend: false, width: "100%", library: { aspectRatio: "1|1" }, id: 'exam-chart'

.row
  .col
    = render 'timelogs'