.container
  - if @uni_module.semester
    = link_to 'Back to Semester', semester_path(@uni_module.semester), class: 'link-button'
  - else
    = link_to 'All Modules', uni_modules_path, class: 'link-button'

  .row
    .col
      .gt-card
        .card-heading
          %h1= @uni_module.code + ' - ' + @uni_module.name
          = link_to 'Edit', edit_uni_module_path(@uni_module)
        .row
          .col.text-center
            %b Credits
          .col.text-center
            %b Weighted Average
          .col.text-center
            %b Achieved Score 
        .row
          .col.text-center
            %span.stat= @uni_module.credits
          .col.text-center
            %span.stat= number_with_precision(@uni_module.weighted_average(current_user), precision: 2) + '%'
          .col.text-center
            %span.stat= number_with_precision(@uni_module.achieved_score(current_user), precision: 2) + '%'

        = render 'exams'
    .col
      .gt-card
        %h2 Assessment Type
        .chart-container
          = pie_chart @exam_data, legend: false, width: '250px', height: '250px'

  .row
    .col
      = render 'timelogs'
