.page-heading  
  %nav
    %ol.breadcrumb
      %li.breadcrumb-item= link_to @semester.year.name, @semester.year
      %li.breadcrumb-item= link_to @semester.name, @semester 
      %li.breadcrumb-item.active= @uni_module.name
  .button-row
    = button_to pin_uni_module_path(@uni_module), method: :patch, class: 'icon-button', title: (@uni_module.pinned? ? 'Unpin module' : 'Pin module') do
      - if @uni_module.pinned?
        .icon-button
          %i.fa-solid.fa-thumbtack
      - else
        .icon-button.unselected
          %i.fa-solid.fa-thumbtack
    .icon-button
      = link_to edit_uni_module_path(@uni_module) do
        %i.fa-solid.fa-pen-to-square

-# Stats
.stats-container 
  .stat 
    .stat-header Credits
    .stat-content= number_with_precision(@uni_module.credits, precision: 0)
  .stat 
    .stat-header Weighted Average
    .stat-content= number_with_precision(@uni_module.weighted_average(current_user), precision: 2) + '%'
  .stat 
    .stat-header Achieved Score
    .stat-content= number_with_precision(@uni_module.achieved_score(current_user), precision: 2) + '%'

.exams-container
  .exams 
    .gt-empty-card
      = render 'exams'
  .graph-split
    .gt-empty-card
      .heading
        %h2 Assessment Split
      .body
        .chart-container
          = pie_chart @exam_data, legend: false, width: "100%", library: { aspectRatio: "1|1" }, id: 'exam-chart'

-# Graph
= render partial: 'shared/time_chart', locals: { subject: @uni_module, time_path: -> { time_module_path(uni_module_id: @uni_module.id, cumulative: params[:cumulative], date_since: params[:date_since]) }, date_since: params[:date_since] }
      
.row
  .col
    = render 'timelogs'