.form-card-container
  = link_to uni_module_exam_path(@exam.uni_module, @exam), class:'unstyle-link font-secondary mb-1' do
    %i.fa-solid.fa-arrow-left
    %span="Back to #{@exam.uni_module.code} - #{@exam.name}"

  .gt-card.gt-form
    .card-heading 
      %h2= "Edit Score for #{@exam.name}"
    = form_for [@exam_result] do |f|
      = f.hidden_field :exam_id, value: @exam.id

      .field
        = f.label :score do
          Percentage
          %span.font-secondary= " (%)"
        = f.text_field :score

      .actions
        = f.submit 'Save'