.gt-card
  .card-heading
    %h1.text-truncate= @user.email

  .font-secondary
    %b Joined:
    = @user.created_at.strftime("%d %B, %Y")

  .button-row.fs-5.mt-2
    = link_to edit_user_registration_path, class: 'icon-button' do
      %i.fa-solid.fa-pen-to-square
      %span Edit Details
    = button_to destroy_user_session_path, data: { confirm: "Are you sure you want to log out?", turbo_confirm: "Are you sure you want to log out?" }, method: :delete, class: 'icon-button' do
      %i.fa-solid.fa-right-from-bracket
      %span Logout

.gt-empty-card 
  .heading 
    .mini-stat
      .title Study Streak
      .figure= "#{@user.study_streak} #{'day'.pluralize(@user.study_streak)}"
  .body{ data: { react_component: "ContributionGraph", props: ({ data: @contributions }).to_json } }

.gt-empty-card
  .heading 
    .mini-stat
      .flex-row
        .title Target
        = link_to edit_target_user_path(@user), class: "title icon-button" do
          %i.fa-solid.fa-pen-to-square
          %span Edit
      - if @user.target.present?
        .figure= number_to_percentage(@user.target, precision: 2)
      - else
        .title No target grade set
  .body
    .chart-container
      = line_chart @exam_data, legend: false, width: "100%", height:"300px", points: true, curve: false, library: { responsive: true, maintainAspectRatio: false }
    %hr.my-2
    .chart-container
      = pie_chart @exam_type_data, legend: true, width: "100%", height:"300px"
