.gt-card
  .card-heading
    %h1= @user.email
    .icon-button
      = link_to edit_user_registration_path do
        %i.fa-solid.fa-pen-to-square

  .font-secondary
    %b Joined:
    = @user.created_at.strftime("%d %B, %Y")

  = button_to "Logout", destroy_user_session_path, method: :delete, class: 'link-button'

.gt-card 
  = react_component("HelloWorld", { name: "Rails + React" })

.gt-card
  %h1.section-heading Assessments
  %h2 All Assessments
  .chart-container
    = line_chart @exam_data, legend: false, width: "100%", height:"300px", points: true, curve: false, library: { responsive: true, maintainAspectRatio: false }

  %h2 Assessment Type
  .chart-container
    = pie_chart @exam_type_data, legend: false, width: "100%", height:"300px"
