.gt-card
  .card-heading
    %h1= @user.email
    = link_to 'Edit Profile', edit_user_registration_path

  .font-secondary
    %b Joined:
    = @user.created_at.strftime("%d %B, %Y")

  = button_to "Logout", destroy_user_session_path, method: :delete, class: 'link-button'

.gt-card
  %h1.section-heading Assessments
  %h2 All Assessments
  .chart-container
    = line_chart @exam_data, legend: false, width: "100%", height:"300px", points: true, curve: false, library: { responsive: true, maintainAspectRatio: false }

  %h2 Assessment Type
  .chart-container
    = pie_chart @exam_type_data, legend: false, width: "100%", height:"300px"
