- cache [current_user] do  
  .stats-container 
    .stat 
      .stat-header 
        = link_to user_path(current_user) do
          Study Streak
      .stat-content= "#{current_user.study_streak} #{'day'.pluralize(current_user.study_streak)}"
    .stat 
      .stat-header Average Score
      .stat-content= number_with_precision(current_user.average_score, precision: 2) + '%'
    .stat 
      .stat-header Achieved Score
      .stat-content= number_with_precision(current_user.achieved_score, precision: 2) + '%'
    .stat 
      .stat-header Predicted
      .stat-content= number_with_precision(current_user.predicted_score, precision: 2) + '%'