- cache [uni_module.semesters.first, uni_module, current_user] do  
  = link_to uni_module_path(uni_module) do
    - progress = uni_module.progress(current_user)
    - achieved_score = uni_module.achieved_score(current_user)
    .space-between
      .space-between
        .name= uni_module.code + " - " + uni_module.name
        - if progress == 100
          = class_badge(achieved_score)
      .actual= "#{number_with_precision(achieved_score, precision: 0)}%"
    .space-between
      .font-secondary= "#{uni_module.credits.present? ? number_with_precision(uni_module.credits, precision: 0) : "N/A"} Credits"
      .font-secondary= "#{number_with_precision(progress, precision: 0)}% Completed"
