= turbo_frame_tag "modal" do
  .modal.fade.show.d-block{ tabindex: "-2", role: "dialog", aria: { modal: "true" } }
    .modal-dialog.modal-md.modal-dialog-centered
      .modal-content.gt-modal
        .modal-header
          %h5.modal-title= title
          = link_to close_modal_path, class: "icon-button", aria: { label: "Close" }, data: { turbo_frame: "_top" } do
            %i.fa-solid.fa-x

        .modal-body
          = yield

  = link_to "",
    close_modal_path,
    class: "modal-backdrop fade show",
    aria: { label: "Close" },
    data: { turbo_frame: "_top" }
