- cache [year, current_user] do
  = link_to year_path(year), data: { turbo_frame: "_top" } do
    - progress = year.progress(current_user)
    - achieved_score = year.achieved_score(current_user)
    .space-between
      .space-between
        .name= year.name
        - if progress == 100
          = class_badge(achieved_score)
      .actual= number_to_percentage(achieved_score, precision: 0)
    .space-between
      .font-secondary= "#{number_to_percentage(year.weighting, precision: 0)} Weighting"
      .font-secondary= "#{number_to_percentage(progress, precision: 0)} Completed"