- cache [year, current_user] do   
  = link_to year_path(year) do
    - progress = year.progress(current_user)
    - achieved_score = year.achieved_score(current_user)
    .space-between
      .space-between
        .name= year.name
        - if progress == 100
          = class_badge(achieved_score)
      .actual= "#{number_with_precision(achieved_score, precision: 0)}%"
    .space-between
      .font-secondary= "#{number_with_precision(year.weighting, precision: 0)}% Weighting"
      .font-secondary= "#{number_with_precision(progress, precision: 0)}% Completed"