.page-heading
  .left-button
  %h1 Dashboard
  .right-button.button-row

-# Stats
.stats-container 
  .stat 
    .stat-header Module Count
    .stat-content= link_to current_user.uni_modules.count, uni_modules_path
  .stat 
    .stat-header Average Score
    .stat-content= number_with_precision(current_user.average_score, precision: 2) + '%'
  .stat 
    .stat-header Achieved Score
    .stat-content= number_with_precision(current_user.achieved_score, precision: 2) + '%'

.cards-container
  - @year_data.each do |data|
    = render partial: 'shared/year_card', locals: { data: data }

  = link_to '+ New Year', new_year_path, class: 'card-button'

%h1.section-heading Statistics
-# Graph on left
.gt-card
  .card-heading
    %h2 Your Time Spent
    = form_with url: request.path, method: :get, local: true, html: { class: "cumulative-toggle-form" } do |f|
      - if params[:cumulative] != "false"
        = f.hidden_field :cumulative, value: false
        .background
          = f.submit "", class: "toggle-true"
      - else 
        = f.hidden_field :cumulative, value: true
        .background
          = f.submit "", class: "toggle-false"
      Cumulative
  .chart-container
    = line_chart @module_data, curve: false, legend: false, width: "100%", height:"300px", library: { responsive: true, maintainAspectRatio: false }