.page-heading
  .left-button
  %h1 Dashboard
  .right-button.button-row

-# Stats
.row
  .col.text-center
    %b Credits
  .col.text-center
    %b Average Score
  .col.text-center
    %b Achieved Score 
.row
  .col.text-center
    %span.stat= current_user.credits
  .col.text-center
    %span.stat= number_with_precision(current_user.average_score, precision: 2) + '%'
  .col.text-center
    %span.stat= number_with_precision(current_user.achieved_score, precision: 2) + '%'

- @year_data.each do |data|
  - year = data[:year]
  .gt-card 
    .card-heading
      %h2= year.name
      .icon-button
        = link_to year_path(year) do
          %i.fa-solid.fa-arrow-right
    .container-flex
      .row.font-secondary
        .col Weighting
        .col Progress
        .col Achieved
      .row 
        .col 
          - if data[:weighting].present?
            = "#{number_with_precision(data[:weighting], precision: 0)}%"
          - else
            = "N/A"
        .col= "#{number_with_precision(data[:progress], precision: 0)}%"
        .col= "#{number_with_precision(data[:achieved], precision: 0)}%"
      .row
        .col.progress-bar.mx-12px
          - width = data[:weighting].presence || 0
          .progress{style: "width: #{width}%"}
        .col.progress-bar.mx-12px
          .progress{style: "width: #{data[:progress]}%"}
        .col.progress-bar.mx-12px
          .progress{style: "width: #{data[:achieved]}%"}


= link_to '+ New Year', new_year_path, class: 'card-button'

%h1.section-heading Statistics
-# Graph on left
.gt-card
  %h2 Your Time Spent
  .chart-container
    = line_chart @module_data, curve: false, legend: false, width: "100%", height:"300px", library: { responsive: true, maintainAspectRatio: false }