- if turbo_frame_request?
  = render "shared/modal_wrapper", title: "Quicklog" do
    .gt-form
      = form_with url: quick_log_path do |f|
        .split-row
          %div{ data: { react_component: "ModuleSelect", props: { data: current_user.uni_modules.as_json(only: %i[id code name]), pinned: current_user.pinned_modules.as_json(only: %i[id code name]) }.to_json } }
          = f.number_field :minutes, placeholder: 'Minutes', class: "m-0"

        = f.submit 'Add Time', class: "link-button"
- else
  .gt-outline-card.gt-form
    %h2 Quicklog
    = form_with url: quick_log_path, local: true do |f|
      .split-row
        %div{ data: { react_component: "ModuleSelect", props: { data: current_user.uni_modules.as_json(only: %i[id code name]), pinned: current_user.pinned_modules.as_json(only: %i[id code name]) }.to_json } }
        = f.number_field :minutes, placeholder: 'Minutes', class: "m-0"

      = f.submit 'Add Time', class: "link-button"