%h1 Listing exams

%table
  %thead
    %tr
      %th Weight
      %th Name
      %th Score
      %th
      %th
      %th

  %tbody
    - @exams.each do |exam|
      %tr
        %td= exam.weight
        %td= exam.name
        %td= exam.score(current_user)
        %td= link_to 'Show', uni_module_exam_path(@uni_module, exam)
        %td= link_to 'Edit', edit_uni_module_exam_path(@uni_module, exam)
        %td= link_to 'Destroy', uni_module_exam_path(@uni_module, exam), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Exam', new_uni_module_exam_path(@uni_module)