= link_to uni_module_path(@uni_module), class:'unstyle-link font-secondary mb-1' do
  %i.fa-solid.fa-arrow-left
  %span="Back to #{@uni_module.code} - #{@uni_module.name}"
.gt-card
  .card-heading
    %h1= @exam.name
    .icon-button
      = link_to edit_uni_module_exam_path(@uni_module, @exam) do
        %i.fa-solid.fa-pen-to-square
  - if @exam.due
    .font-secondary= @exam.due.strftime("%d %b %Y, %H:%M")
  - if @exam.score(current_user)
    .flex-row
      %h1.mb-0= @exam.score(current_user).to_s + '%'
      .icon-button
        = link_to edit_exam_result_path(@exam), { title: "Edit #{@exam.name} Score" } do
          %i.fa-solid.fa-pen-to-square
    .progress-bar
      .progress{style: "width: #{@exam.score(current_user)}%"}
  - else
    .font-secondary No score recorded
    .icon-button
      = link_to edit_exam_result_path(@exam), { title: "Edit #{@exam.name} Score" } do
        %i.fa-solid.fa-pen-to-square
- if @time_until_due
  .countdown-container
    .countdown-card
      %h1= @time_until_due[0]
      %h3= "Days"
    .countdown-card
      %h1= @time_until_due[1]
      %h3= "Hours"
    .countdown-card
      %h1= @time_until_due[2]
      %h3= "Minutes"
    .countdown-card
      %h1=@time_until_due[3].to_i
      %h3= "Seconds"