%p#notice= notice

%p
  %b Weight:
  = @exam.weight
%p
  %b Name:
  = @exam.name
%p
  %b Score:
  = @exam.score(current_user)

= link_to 'Edit', edit_uni_module_exam_path(@uni_module, @exam)
\|
= link_to 'Back', uni_module_path(@uni_module)
