.form-card-container
  = link_to year_path(@year), class:'unstyle-link font-secondary mb-1' do
    %i.fa-solid.fa-arrow-left
    %span="Back to #{@year.name}"
  .gt-empty-card.gt-form
    .heading
      %h1 Editing Year

    .body
      = render 'form'

  .gt-card
    %h2= "Delete " + @year.name 
    = button_to 'Delete', year_path(@year), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'link-button delete w-100'