.page-heading
  .left-button.button-row
    .icon-button
      = link_to root_path do
        %i.fa-solid.fa-arrow-left
  %h1= @year.name
  .right-button.button-row
    .icon-button
      = link_to edit_year_path(@year) do
        %i.fa-solid.fa-pen-to-square

-# Stats
.stats-container 
  .stat 
    .stat-header Credits
    .stat-content= number_with_precision(@year.credits, precision: 0)
  .stat 
    .stat-header Average Score
    .stat-content= number_with_precision(@year.average_score(current_user), precision: 2) + '%'
  .stat 
    .stat-header Achieved Score
    .stat-content= number_with_precision(@year.achieved_score(current_user), precision: 2) + '%'

- @year.semesters.each do |semester|
  = render partial: 'shared/semester_card', locals: { semester: semester }

= link_to '+ New Semester', new_semester_path(year_id: @year.id), class: 'card-button section-margin'

-# Graph
.gt-card
  .card-heading
    %h2 Your Time Spent
    = form_with url: request.path, method: :get, local: true, html: { class: "cumulative-toggle-form" } do |f|
      - if params[:cumulative] != "false"
        = f.hidden_field :cumulative, value: false
        .background
          = f.submit "", class: "toggle-true"
      - else 
        = f.hidden_field :cumulative, value: true
        .background
          = f.submit "", class: "toggle-false"
      Cumulative
  .chart-container
    = line_chart @module_data, curve: false, legend: false, width: "100%" #, height:"100%"