.page-heading
  .left-button.button-row
    .icon-button
      = link_to root_path do
        %i.fa-solid.fa-arrow-left
  %h1= @year.name
  .right-button.button-row
    .icon-button
      = link_to edit_year_path(@year) do
        %i.fa-solid.fa-pen-to-square

-# Stats
.row
  .col.text-center
    %b Credits
  .col.text-center
    %b Weighted Average
  .col.text-center
    %b Achieved Score
.row
  .col.text-center
    %span.stat= @year.credits
  .col.text-center
    %span.stat= number_with_precision(@year.weighted_average(current_user), precision: 2) + '%'
  .col.text-center
    %span.stat= number_with_precision(@year.achieved_score(current_user), precision: 2) + '%'

- @year.semesters.each do |semester|
  .gt-card
    .card-heading
      %h2= semester.name
      .icon-button
        = link_to semester_path(semester) do
          %i.fa-solid.fa-arrow-right
    .container-flex
      .row.font-secondary
        .col Progress
        .col Achieved
      .row
        .col= "#{number_with_precision(semester.progress(current_user), precision: 0)}%"
        .col= "#{number_with_precision(semester.achieved_score(current_user), precision: 0)}%"
      .row
        .col.progress-bar.mx-12px
          .progress{style: "width: #{semester.progress(current_user)}%"}
        .col.progress-bar.mx-12px
          .progress{style: "width: #{semester.achieved_score(current_user)}%"}

= link_to '+ New Semester', new_semester_path(year_id: @year.id), class: 'card-button'