.page-heading
  %nav
    %ol.breadcrumb
      %li.breadcrumb-item.active= @year.name
  .right-button.button-row
    .icon-button
      = link_to edit_year_path(@year) do
        %i.fa-solid.fa-pen-to-square

-# Stats
.stats-container 
  .stat 
    .stat-header Credits
    .stat-content= number_with_precision(@year.credits, precision: 0)
  .stat 
    .stat-header Average Score
    .stat-content= number_with_precision(@year.average_score(current_user), precision: 2) + '%'
  .stat 
    .stat-header Achieved Score
    .stat-content= number_with_precision(@year.achieved_score(current_user), precision: 2) + '%'

.gt-empty-card
  .heading
    %h3 Semesters
  .body
    .link-cards-list
      - @year.semesters.each do |semester|
        = render partial: 'shared/semester_card', locals: { semester: semester }

      = link_to '+ New Semester', new_semester_path(year_id: @year.id), class: 'card-button'

-# Graph
.gt-empty-card
  .heading
    .mini-stat
      .title Minutes Spent
      .figure= @year.total_minutes

    = form_with url: request.path,
                method: :get,
                local: true,
                html: { class: "gt-form cumulative-toggle-form" } do |f|

      = f.select :cumulative,
          [["Cumulative", "true"], ["Daily", "false"]],
          { selected: params[:cumulative] || "true" },
          { onchange: "this.form.submit()", class: "cumulative-dropdown text-muted" }

  .body
    .chart-container
      = line_chart @module_data, curve: false, legend: false, width: "100%" #, height:"100%"