.side-heading
  .title= link_to "ModuleMate", root_path
  .account
    - if user_signed_in?
      = link_to user_path(current_user), class: 'unstyle-link profile' do
        %i.fa-solid.fa-circle-user
        %span= current_user.email
    - else
      = link_to "Sign In", new_user_session_path, style: "font-size: 20px;"

    %button#theme-toggle.icon-button.float-end.moon
      %i.fa-solid.fa-moon

.side-content
  -# Quick-add time
  .gt-card.gt-form
    %h2 Quicklog
    = form_with model: @timelog, url: quick_log_path, local: true do |f|
      .split-row
        = f.text_field :module_code, placeholder: 'Module Code', class: "m-0"
        = f.number_field :minutes, placeholder: 'Minutes', class: "m-0"

      = f.submit 'Add Time', class: "link-button"

  -# Modules
  .gt-card.module-list
    .card-heading
      %h2 Pinned Modules
      .icon-button
        = link_to uni_modules_path do
          %i.fa-solid.fa-arrow-right
    - if @pinned_modules
      - @pinned_modules.each do |m|
        = link_to m do
          .name-row{class: "#{'module-selected' if m == @uni_module}"}
            .mod-code= m.code
            .mod-name= m.name
            -#.col-2.text-end= "#{number_with_precision(m.weighted_average(current_user), precision: 0)}%"
          .progress-bar
            .progress{style: "width: #{m.completion_percentage(current_user)}%"}

  .gt-card.upcoming-assessments
    %h2 Upcoming Assessments
    - if @next_exams
      - @next_exams.each do |exam|
        = link_to uni_module_exam_path(exam.uni_module, exam) do
          .name-row
            .mod-code= exam.uni_module.code
            .text-truncate= exam.name
          .date-row
            .due-date.font-secondary
              Due:
              = exam.due.strftime("%d %b %Y, %H:%M")
            - if exam.due < 1.day.from_now
              .chip-danger= "#{((exam.due - Time.current)/1.hour).ceil} Hours"
            - elsif exam.due < 1.week.from_now
              .chip-warning= "#{(exam.due.to_date - Date.today).to_i} Days"
    - else
      %span No upcoming assessments.