!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ModuleMate
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = render "layouts/meta"
    = csrf_meta_tags
    = csp_meta_tag


    :javascript
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme) document.documentElement.dataset.theme = savedTheme;


    = stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css", rel: "stylesheet", crossorigin: "anonymous"
    = javascript_importmap_tags

  %body
    - if user_signed_in?
      %header
        = render 'layouts/sidebar'
    
    %div{class: (user_signed_in? ? "not-header" : "not-header-login")}
      %main
        %div 
          - flash.each do |key, message|
            - bootstrap_class = case key
              - when 'notice' then 'alert-bar ab-notice'
              - when 'alert' then 'alert-bar ab-danger'
              - else 'alert-bar ab-warning'
            %p{class: bootstrap_class}= message
        .main-content
          = yield

      %footer
        = link_to "ModuleMate", root_path
        = link_to "Created by Ryan Turner", "https://github.com/Turnlings", target: "_blank", rel: "noopener"