!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GradeTracker
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css", rel: "stylesheet", crossorigin: "anonymous"
    = javascript_importmap_tags
  %body
    %header
      .mx-0.px-3
        .title= link_to "ModuleMate", root_path
        .header-links
          - if user_signed_in?
            = link_to user_path(current_user) do
              %i.fa-solid.fa-circle-user
          - else
            = link_to "Sign In", new_user_session_path, style: "font-size: 20px;"

    %main
      - if user_signed_in?
        .sidebar
          = render 'layouts/sidebar'

        .main-content
          .container
            - flash.each do |key, message|
              - bootstrap_class = case key
                - when 'notice' then 'alert alert-info'
                - when 'alert' then 'alert alert-danger'
                - else 'alert alert-warning'
              %p{class: bootstrap_class}= message
          = yield
      - else
        .container
          - flash.each do |key, message|
            - bootstrap_class = case key
              - when 'notice' then 'alert alert-info'
              - when 'alert' then 'alert alert-danger'
              - else 'alert alert-warning'
            %p{class: bootstrap_class}= message

          = yield

    %footer
      = link_to "GradeTracker", root_path
      = link_to "Created by Ryan Turner", "https://github.com/Turnlings", target: "_blank", rel: "noopener"