!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GradeTracker
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header
      .container
        .title= link_to "GradeTracker", root_path
        .header-links
          - if user_signed_in?
            = link_to "Profile", user_path(current_user)
            %span=  "|"
            = link_to "Logout", destroy_user_session_path, method: :delete
          - else
            = link_to "Login", new_user_session_path
            %span= "|"
            = link_to "Sign Up", new_user_registration_path

    .container
      - flash.each do |key, message|
        - bootstrap_class = case key
          - when 'notice' then 'alert alert-info'
          - when 'alert' then 'alert alert-danger'
          - else 'alert alert-warning'
        %p{class: bootstrap_class}= message

    = yield
